notification-github.sh
Code
Thunar
bpytop
btop
discord
dconf
gh
google-chrome
Electron
opera
GIMP
environment.d
evolution
fontconfig
gnome-control-center
git 
gtk-2.0
gtk-3.0
gtk-4.0
ibus
kdedefaults
obs-studio
p3x-onenote
spotify
