
button {
  border-radius: 10px;
  font-family: "JetBrainsMonoNFM SemiBold", SemiBold;
  font-weight: 400;
  font-size: 24px;
  margin: 5px;
  border-width: 2px;
}


#lock {
  background-image: image(url("assets/lock.svg"));
}

#logout {
  background-image: image(url("assets/logout.svg"));
}

#sleep {
  background-image: image(url("assets/sleep.svg"));
}

#hibernate {
  background-image: image(url("assets/hibernate.svg"));
}

#poweroff {
  background-image: image(url("assets/poweroff.svg"));
}

#reboot {
  background-image: image(url("assets/restart.svg"));
}
